@import 'src/styles.scss';
// color
$colorBlack: #000;
$colorWhite: #fff;
$colorActive: #ea0606;

// // font
$fontFamilyIntegral: Integral CF sans-serif;
$fontFamilySatoshi: Satoshi sans-serif;
$fontFamilyInter: Inter sans-serif;

section {
  display: grid;
  grid-template-rows: 50px;
  column-gap: 48px;
}

.filter {
  display: flex;
  justify-content: space-around;
}

.filter__sort {
  display: flex;
  align-items: center;
  list-style: none;
  color: $colorBlack;
  text-align: center;
  font-size: 16px;

  li {
    margin-right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      max-width: 32px;
    }
  }

  li:hover {
    color: $colorActive;
    border-bottom: 2px solid $colorBlack;
  }
}

.list-product{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  width: 100%;

  li {
    max-width: 250px;
    width: 100%;
    margin: 1.5rem;
    box-shadow: 6px 12px 12px 4px rgba(186, 184, 184, 0.49);
    -webkit-box-shadow: 6px 12px 12px 4px rgba(186, 184, 184, 0.49);
    -moz-box-shadow: 6px 12px 12px 4px rgba(186, 184, 184, 0.49);

    app-products {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      position: relative;
    }
  }
}

.product-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  padding: 2rem;
  margin: 2rem;
  border: 2px solid $colorBlack;
}

.product-item__galery {
  position: relative;
  display: grid;
  grid-template-columns: 95px 1fr;

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;
      max-width: 75px;
      width: 100%;
      border: 2px solid $colorBlack;
      border-radius: 20px;
      cursor: pointer;
      overflow: hidden;
    }
  }
}

.product-item__galery__main {
  max-width: 325px;
  border: 2px solid $colorBlack;
  border-radius: 20px;
  cursor: pointer;
}

.product-item__galery__main:active {
  position: absolute;
  left: 50%;
  max-width: 900px;
  z-index: 1;
}

.rating {
  display: flex;
  margin: 10px 0;
  column-gap: 40px;
  color: $colorBlack;
  font-family: $fontFamilySatoshi;
  font-size: 1rem;
  font-weight: 400;

  ul {
    list-style: none;
    display: flex;
  }
}

.coins {
  display: flex;
  align-items: center;

  p {
    margin-right: 1rem;
  }
}

.sale {
  color: gray;
  font-family: $fontFamilySatoshi;
  font-size: 2rem;
  font-weight: 700;
  text-decoration-line: strikethrough;
}

.price {
  color: $colorBlack;
  font-family: $fontFamilySatoshi;
  font-size: 2rem;
  font-weight: 700;
}

.percentage {
  padding: 0px 13px;
  background-color: #ffcaca;
  color: $colorActive;
  border-radius: 1rem;
  font-family: $fontFamilySatoshi;
  font-size: 1.2rem;
  font-weight: 500;
}

.color {
  margin: 15px 0;

  p {
    margin-bottom: 10px;
    color: gray;
    font-family: $fontFamilySatoshi;
    font-size: 1rem;
    font-weight: 400;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      border-radius: 50%;
      border: 1px solid $colorBlack;
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }
}

.size {
  margin: 15px 0;

  p {
    margin-bottom: 10px;
    color: gray;
    font-family: $fontFamilySatoshi;
    font-size: 1rem;
    font-weight: 400;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      padding: .5rem 1rem;
      border-radius: 15px;
      color: $colorBlack;
      font-family: $fontFamilySatoshi;
      font-size: 1rem;
      font-weight: 500;
      height: 25px;
    }
  }
}

.reserves {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 170px;
  width: 100%;
  border-radius: 2rem;
  margin-right: 10px;
  background-color: #f0f0f0;
  color: $colorBlack;
  font-family: $fontFamilySatoshi;

  span {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.quantity__count {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.buy {
  padding: .8rem 0;
  border-radius: 2rem;
  background-color: $colorBlack;
  max-width: 400px;
  width: 100%;
  color: #f0f0f0;
  text-align: center;
  cursor: pointer;
}

h3 {
  margin: 10px 1rem;
  text-align: center;
  font-size: 1.5rem;
}

