<h1 class="title">Особистий кабінет</h1>
<div class="info">
  <aside>
    <p>Користувач: Admin</p>
    <p>Пошта: genser.artem@gmail.com</p>
    <hr />
    <p class="info__sign-out" (click)="goToUrl('')">Вихід</p>
  </aside>
  <article>
    <button class="btn btn-info" (click)="addProduct()">{{ add }}</button>
    <app-all-product-admin *ngIf="!isAdd"></app-all-product-admin>
    <app-new-product
      *ngIf="isAdd"
      [show]="isAdd"
      (close)="close($event)"
    ></app-new-product>
  </article>
</div>
