@media only screen and (min-width: 1750px) {
  .info {
      height: 200px;
  }
  .coins{
    button{
      font-size: 19px;
    }
  }
}
@media only screen and (max-width: 1750px) {
  .info {
    height: 200px;
  }
  .coins{
    button {
      font-size: 19px;
    }
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 425px) {
  .info {
    height: 140px;
  }

  .coins{
    button{
      font-size: 15px;
      max-width: 125px;
      justify-self: center;
    }
  }

  .buy{
    padding: 3px 18px;
  }
}
