.list-products {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &>li {
    border: 1px solid #000;
    max-width: 510px;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
  }
}

.filter {
  display: flex;
  list-style: none;
}

.list-products__brand {
  font-size: 20px;

  h1 {
    font-size: 40px;
    font-style: bold;
  }

  img {
    max-width: 100px;
  }
}

.list-products__color {
  h1 {
    font-size: 20px;
    font-style: bold;
  }

  ul {
    display: flex;

    li {
      border: 1px solid #000;
      border-radius: 50%;
      margin-right: 10px;
      list-style: none;
      width: 50px;
      height: 50px;
    }
  }
}

.list-products__image {
  h1 {
    font-size: 30px;
    font-style: bold;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 20px;
      max-width: 100px;
      width: 100%;
    }
  }
}
