.list-products {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &>li {
    border: 1px solid #000;
    max-width: 510px;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
  }
}

.filter {
  display: flex;
  list-style: none;
}
