// color
// $colorBlack: #000;
// $colorWhite: #fff;
// $colorActive: #ea0606;

// // font
// $fontFamilyIntegral: Integral CF sans-serif;
// $fontFamilySatoshi: Satoshi sans-serif;
// $fontFamilyInter: Inter sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-size: 16px;
}

img {
  width: 100%;
}

.show-block {
  display: none;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
